<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>911658296164-ki6lf2arlde6j3umnh98jpft7r5ilg34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911658296164-ki6lf2arlde6j3umnh98jpft7r5ilg34</string>
	<key>API_KEY</key>
	<string>AIzaSyCUa8NoWCvj0PWOhjp-Cp9auT0eEt6dsiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>911658296164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndreiEnache.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-de16a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-de16a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911658296164:ios:6eebc194d92fac33</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-de16a.firebaseio.com</string>
</dict>
</plist>